.big {
    margin: 100px 0;

    &__btn {
        width: 100%;
        max-width: 100% !important;
        text-align: center !important;
        display: block !important;
        font-size: 40px !important;
        padding: 50px 0 !important;
    }
}